<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XXCodeGeneration_MacApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD507F8D1C61942D002CBE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD507FA31C61942D002CBE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD507FAE1C61942D002CBE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
